<div style="padding-bottom: 1em;">
    <dt class="phpdocumentor-table-of-contents__entry -{{ type }} -{{ node.visibility }}">
        {% if type == 'property' %} <a class="ui olive circular label">P</a> {% endif %}
        {% if type == 'method' or type == 'function' %} <a class="ui olive circular label">M</a> {% endif %}
        {% if type == 'constant' %} <a class="ui teal circular label">Const</a> {% endif %}
        <a href="{{ link(node) }}">{{ type == 'property' ? '$' }}{{ node.name }}{{ type == 'method' or type == 'function' ? '()' }}</a>
        <span>
            {% if type == 'constant' %}&nbsp;= {{ node.value }} {% endif %}
            {% if type == 'case' %}{% if node.value %}&nbsp;= {{ node.value }}{% endif %}{% endif %}
            {% if type == 'property' %}&nbsp;: {{ node.type ? node.type|route('class:short')|join('|')|raw : 'mixed' }}{% endif %}
            {% if type == 'method' or type == 'function' %}&nbsp;: {{ node.response.type|route('class:short')|join('|')|raw }}{% endif %}
    </span>
    </dt>
    <dd>{{ node.summary }}</dd>

</div>